@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    .sidebar-icon {
        @apply relative flex items-center justify-center 
               h-12 w-12 mt-2 mb-2 mx-auto
               hover:bg-white
               rounded-3xl hover:rounded-xl
               transition-all duration-300 ease-linear
               cursor-pointer;
    }

    .sidebar-tooltip {
        @apply absolute w-auto p-2 m-2 min-w-max left-14
        rounded-md shadow-md
        text-white bg-amber-700
        text-xs font-bold
        transition-all duration-100 scale-0 origin-left;
      }

}

@layer base {

    @font-face {
      font-family: Varella;
      src: url("/ttf/Varella.ttf");
    }

    @font-face {
      font-family: ABC-Regular;
      src: url("/ttf/ABCRegular.ttf");
    }

    @font-face {
      font-family: ABC-Italic;
      src: url("/ttf/ABCItalic.ttf");
    }

    html {
      font-family: Varella;
      cursor: default;
    }
    
    button, a, img {
      -webkit-tap-highlight-color: transparent;
    }
  }
